@aaavang:registry=https://registry.npmjs.org
//https://registry.npmjs.org:_password=QWxqYW1hYUAxOTg5
//https://registry.npmjs.org:username=alex.aavang
//https://registry.npmjs.org:email=
//https://registry.npmjs.org:always-auth=true